<div class="container">
    <div class="text-center page-404">
        <h1 class="heading">404</h1>
        <h2 class="title">Oops! That page can't be found.</h2>
        <p>Sorry, but the page you are looking for is not found. Please, make sure you have typed the current URL.</p>
        <a class="button" href="http://kutethemes.net/wordpress/boutique">Go to Home</a>
    </div>
</div>
<div class="margin-top-60 margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                    <div class="content">
                        <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                    <div class="content">
                        <h4 class="title">MONEY BACK GUARANTEE</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                    <div class="content">
                        <h4 class="title">ONLINE SUPPORT 24/7</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>