
<!-- BANNER -->
<div class="container banner">
    <div class="row bg-light">
        <div class="col-12 text-center" style="margin: auto; padding: 50px;">
            <h2>Register</h2>
            <a href="" title="" class="list"><i class="fas fa-home"><span>Home</span></i></a>
            <i class="fas fa-angle-double-right ml-3 mr-3"></i>
            <a href="" title="" class="list"><span>Register</span></a>
        </div>
    </div>
</div>

<!-- MAIN  -->
<div class="container main">
    <div class="row select">
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-primary">LOG IN</button>
        </div>
        <div class="col-md-6">
            <button [routerLink]="['/login']" routerLinkActive="router-link-active" type="button"
                class="btn btn-primary">REGISTER</button>
        </div>
    </div>
    <form [formGroup]="userRegisterForm">
        <div class="container">
            <label for="first_name"><b>First Name</b></label>
            <input formControlName="first_name" type="text" placeholder="Enter first name" name="first_name" required>

            <label for="last_name"><b>Last Name</b></label>
            <input formControlName="last_name" type="text" placeholder="Enter last name" name="last_name" required>

            <label for="username"><b>Username</b></label>
            <input formControlName="username" type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input formControlName="password" type="password" placeholder="Enter Password" name="password" required>

            <label for="password2"><b>Re Enter Password</b></label>
            <input formControlName="password2" type="password" placeholder="Re Enter Password" name="password2"
                required>

            <label for="email"><b>Email</b></label>
            <input formControlName="email" type="email" placeholder="Enter Email" name="email" required>

            <button (click)="register()">Register</button>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>

</div>