<div class="container">
    <!-- Home slide -->
    <div class="home-slide1 owl-carousel nav-style1" data-items="1" data-nav="true" data-dots="false" data-loop="true" data-autoplay="true">
        <img src="../../../assets/slides/1.jpg" alt="">
        <img src="../../../assets/slides/2.jpg" alt="">
        <img src="../../../assets/slides/3.jpg" alt="">
    </div>
    <!-- ./Home slide -->
    <div class="margin-top-40">
        <div class="row">
            <div class="col-sm-4" style="text-align: right;">
                <img style="margin-right: 20px;" class=" margin-top-25" src="../../../assets/logos/1.png" alt="">
            </div>
            <div class="col-sm-7">
                <blockquote>Boutique is a reflection of you! A sexy and confident woman that radiates through his daring wardrobe. We bring you the best of all things glam and sexy while keeping in mind that high quality doesn’t have to come at a high price.</blockquote>
            </div>
        </div>
    </div>
    <div class="margin-top-40">
        <div class="row">
            <div class="col-sm-12 col-md-6 margin-bottom-30">
                <a class="banner-opacity" href="#"><img src="../../../assets/b/2.jpg" alt=""></a>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#" class="banner-product">
                            <img src="../../../assets/products/11.jpg" alt="">
                            <h3 class="text">T-Shirt Weekday Crew Sweatshir</h3>
                            <span class="price">£125.00</span>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="banner-product">
                            <img src="../../../assets/products/13.jpg" alt="">
                            <h3 class="text">T-Shirt Weekday Crew Sweatshir</h3>
                            <span class="price">£125.00</span>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="banner-product">
                            <img src="../../../assets/products/27.jpg" alt="">
                            <h3 class="text">T-Shirt Weekday Crew Sweatshir</h3>
                            <span class="price">£125.00</span>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="banner-product">
                            <img src="../../../assets/products/28.jpg" alt="">
                            <h3 class="text">T-Shirt Weekday Crew Sweatshir</h3>
                            <span class="price">£125.00</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center margin-top-20">FREE UK DELIVERY + RETURN OVER £85.00 (EXCLUDING HOMEWARE) | FREE UK COLLECT FROM STORE</div>
    <div class="margin-top-50">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" class="banner-product">
                            <img src="../../../assets/products/17.jpg" alt="">
                            <h3 class="text">T-Shirt Weekday Crew Sweatshir</h3>
                            <span class="price">
								<ins>£125.00</ins>
								<del>£150.00</del>
							</span>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="banner-product">
                            <img src="../../../assets/products/27.jpg" alt="">
                            <h3 class="text">T-Shirt Weekday Crew Sweatshir</h3>
                            <span class="price">£125.00</span>
                        </a>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="banner-product">
                            <img src="../../../assets/products/28.jpg" alt="">
                            <h3 class="text">T-Shirt Weekday Crew Sweatshir</h3>
                            <span class="price">£125.00</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <a class="banner-opacity" href="#"><img src="../../../assets/b/3.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="margin-top-30 section-lasttest-blog">
        <div class="section-title text-center">
            <h3>Our BLog</h3>
        </div>
        <div class="lastest-blog owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false" data-loop="true" data-margin="30" data-responsive='{"0":{"items":1},"600":{"items":1},"1000":{"items":2}}'>
            <div class="item-blog">
                <div class="left">
                    <div class="blog-date">
                        <span class="day">7</span>
                        <span class="month">/SEP</span><br>
                        <span class="year">2015</span>
                    </div>
                    <h3 class="blog-title"><a href="#">We're the best Designers from UK</a></h3>
                    <div class="meta">
                        <span class="author">John Doe</span>
                        <span class="comment"><i class="fa fa-comment"></i> 36 comments</span>
                    </div>
                </div>
                <div class="right">
                    <a class="banner-border" href="#"><img src="../../../assets/blogs/1.jpg" alt=""></a>
                </div>
            </div>
            <div class="item-blog">
                <div class="left">
                    <div class="blog-date">
                        <span class="day">7</span>
                        <span class="month">/SEP</span><br>
                        <span class="year">2015</span>
                    </div>
                    <h3 class="blog-title"><a href="#">We're the best Designers from UK</a></h3>
                    <div class="meta">
                        <span class="author">John Doe</span>
                        <span class="comment"><i class="fa fa-comment"></i> 36 comments</span>
                    </div>
                </div>
                <div class="right">
                    <a class="banner-border" href="#"><img src="../../../assets/blogs/2.jpg" alt=""></a>
                </div>
            </div>
            <div class="item-blog">
                <div class="left">
                    <div class="blog-date">
                        <span class="day">7</span>
                        <span class="month">/SEP</span><br>
                        <span class="year">2015</span>
                    </div>
                    <h3 class="blog-title"><a href="#">We're the best Designers from UK</a></h3>
                    <div class="meta">
                        <span class="author">John Doe</span>
                        <span class="comment"><i class="fa fa-comment"></i> 36 comments</span>
                    </div>
                </div>
                <div class="right">
                    <a class="banner-border" href="#"><img src="../../../assets/blogs/1.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="section-brand-slide">
        <div class="brands-slide owl-carousel nav-center-center nav-style7" data-nav="true" data-dots="false" data-loop="true" data-margin="60" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":5}}'>
            <a href="#"><img src="../../../assets/brands/brand1.png" alt=""></a>
            <a href="#"><img src="../../../assets/brands/brand2.png" alt=""></a>
            <a href="#"><img src="../../../assets/brands/brand3.png" alt=""></a>
            <a href="#"><img src="../../../assets/brands/brand4.png" alt=""></a>
            <a href="#"><img src="../../../assets/brands/brand5.png" alt=""></a>
        </div>
    </div>
    <div class="margin-top-60">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="video video-lightbox">
                    <img src="../../../assets/bg_video.png" alt="">
                    <div class="overlay"></div>
                    <a href="#" class="link-lightbox button-play" data-videoid="134060140" data-videosite="vimeo"></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="newsletter">
                    <div class="section-title text-center">
                        <h3>NEWSLETTER</h3>
                    </div>
                    <i class="newsletter-info">Sign up for Our Newsletter &amp; Promotions</i>
                    <form class="form-newsletter">
                        <input type="text" name="newsletter" placeholder="Your email address here..." value="">
                        <span><button class="newsletter-submit" type="submit">SIGNUP</button></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top-60 margin-bottom-30">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                    <div class="content">
                        <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                    <div class="content">
                        <h4 class="title">MONEY BACK GUARANTEE</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                    <div class="content">
                        <h4 class="title">ONLINE SUPPORT 24/7</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
