<div class="container">
    <div class="shop-banner">
        <img src="../../../assets/slides/slider-cat2.jpg" alt="">
    </div>
    <div class="breadcrumbs style2">
        <a href="#">Home</a>
        <span>Categories/product/{{ itemPro.name }}</span>
    </div>
    <div class="row left-slidebar">
        <div class="main-content col-sm-9">
            <div class="row">
                <div class="col-sm-5">
                    <div class="product-detail-image style2">
                        <div class="main-image-wapper">
                            <img class="main-image" src="{{itemPro.thumbnail}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="product-details-right style2">
                        <h3 class="product-name" >{{ itemPro.name }}</h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span class="count-review">( 2 <span>Reviews</span> )</span>
                        </div>
                        <span class="price">
                        <ins style="margin-right: 10px;" *ngIf="itemPro.sale_price">{{ itemPro.sale_price }}đ</ins>
                                    <del *ngIf="itemPro.sale_price; else elseBlock">{{ itemPro.price }}đ</del>
                                    <ng-template #elseBlock ><ins>{{ itemPro.sale_price }}đ</ins></ng-template>
                        </span>
                        <div class="meta">
                            <span>{{itemPro.created_at | date}}</span>
                            <span>Availalbe: <span class="text-primary">In Stock</span></span>
                        </div>
                        <div class="short-descript">
                            {{itemPro.description}}
                        </div>
                        <div class="select-color">
                            <label>COLOR</label>
                            <div class="inner">
                                <a *ngFor="let color of colorProduct" style="border-color: black">
                                  <span (click)="setColor(color.id)" style="background-color:{{color.color}};"></span>
                                </a>
                            </div>
                        </div>
                        <div class="select-size">
                            <label>SIZE OPTIONS</label>
                            <div class="inner">
                                <a *ngFor="let size of sizeProduct">
                                  <span (click)="setSize(size.id)">{{size.size}}</span>
                                </a>
                            </div>
                        </div>
                        <div class="size-chart">
                            <a href="#">SIZE chart</a>
                        </div>

                        <form class="cart-form" enctype="multipart/form-data" method="post">
                            <div class="quantity">
                                <a (click)="downQuantity()">-</a>
                                <input type="text" size="4" class="input-text qty text" title="Qty" value="{{quantity}}" name="quantity">
                                <a (click)="upQuantity()">+</a>
                            </div>
                            <a (click)="addToCartItem()" class="button button-add-cart" data-quantity="1">Add to cart</a>
                            <a class="wishlist button" href="#"><i class="fa fa-heart-o"></i></a>
                            <a href="#" class="button compare"><i class="fa fa-exchange"></i></a>
                        </form>
                        <div class="share">
                            <a href="#"><i class="fa fa-print"></i> Print</a>
                            <a href="#"><i class="fa fa-envelope-o"></i> Send to a friend</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-details-product style2">
                <ul class="box-tabs nav-tab">
                    <li class="active"><a data-toggle="tab" href="#tab-1">DESCRIPTION</a></li>
                    <li><a data-toggle="tab" href="#tab-2">ADDITIONAL INFORMATION</a></li>
                </ul>
                <div class="tab-container">
                    <div id="tab-1" class="tab-panel active">
                        <p>Lorem ipsum dolor sit amet isse potenti sesquam ante aliquet lacusemper elit. Cras neque nulla convallis non comodo.</p>
                        <ul>
                            <li>Soft-touch jersey</li>
                            <li>Crew neck </li>
                            <li>Logo print</li>
                            <li>Regular fit - true to size</li>
                        </ul>
                        <ul>
                            <li>Machine wash</li>
                            <li>100% Cotton</li>
                            <li>Our model wears a size Medium and is 185.5cm/6'1" tall</li>
                        </ul>
                    </div>
                    <div id="tab-2" class="tab-panel">
                        <p>Quisque sodales sodales lacus pharetra bibendum. Etiam commodo non velit ac rhoncus. Mauris euismod purus sem, ac adipiscing quam laoreet et. Praesent vulputate ornare sem vel scelerisque. Ut dictum augue non erat lacinia, sed
                            lobortis elit gravida. Proin ante massa, ornare accumsan ultricies et, posuere sit amet magna. Praesent dignissim, enim sed malesuada luctus, arcu sapien sodales sapien, ut placerat eros nunc vel est. Donec tristique mi turpis,
                            et sodales nibh gravida eu. Etiam odio risus, porttitor non lacus id, rhoncus tempus tortor. Curabitur tincidunt molestie turpis, ut luctus nibh sollicitudin vel. Sed vel luctus nisi, at mattis metus. Aenean ultricies dolor
                            est, a congue ante dapibus varius. Nulla at auctor nunc. Curabitur accumsan feugiat felis ut pretium. Praesent semper semper nisi, eu cursus augue.</p>
                    </div>
                </div>
            </div>
            <div class="product-slide upsell-products">
                <div class="section-title text-center">
                    <h3>UPSELL PRODUCTS</h3>
                </div>
                <ul class="owl-carousel" data-responsive='{"0":{"items":1},"600":{"items":2},"1000":{"items":3}}' data-autoplay="true" data-loop="true" data-items="4" data-dots="false" data-nav="false" data-margin="30">
                    <li class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <a href="#"><img src="../../../assets/products/5.jpg" alt=""></a>
                                <div class="gorup-button">
                                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                                <span class="price">
                                  <ins>£85.00</ins>
                                  <del>£95.00</del>
                              </span>
                                <a href="#" class="button">ADD TO CART</a>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <a href="#"><img src="../../../assets/products/6.jpg" alt=""></a>
                                <div class="gorup-button">
                                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                                <span class="price">
                                  <ins>£85.00</ins>
                                  <del>£95.00</del>
                              </span>
                                <a href="#" class="button">ADD TO CART</a>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <a href="#"><img src="../../../assets/products/7.jpg" alt=""></a>
                                <div class="gorup-button">
                                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                                <span class="price">
                                  <ins>£85.00</ins>
                                  <del>£95.00</del>
                              </span>
                                <a href="#" class="button">ADD TO CART</a>
                            </div>
                        </div>
                    </li>
                    <li class="product-item">
                        <div class="product-inner">
                            <div class="product-thumb">
                                <a href="#"><img src="../../../assets/products/8.jpg" alt=""></a>
                                <div class="gorup-button">
                                    <a href="#" class="wishlist"><i class="fa fa-heart"></i></a>
                                    <a href="#" class="compare"><i class="fa fa-exchange"></i></a>
                                    <a href="#" class="quick-view"><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <h3 class="product-name"><a href="#">London Star Sweatshirt</a></h3>
                                <span class="price">
                                  <ins>£85.00</ins>
                                  <del>£95.00</del>
                              </span>
                                <a href="#" class="button">ADD TO CART</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4 col-md-3 sidebar">
            <!-- Product category -->
            <div class="widget widget_product_categories">
                <h2 class="widget-title">Categories</h2>
                <ul class="product-categories">
                    <li><a href="#">Sunglasses</a><span class="count-item">(25)</span></li>
                    <li><a href="#">Watches</a><span class="count-item">(23)</span></li>
                    <li class="current-cat"><a href="#">Jewelry</a><span class="count-item">(9)</span></li>
                    <li><a href="#">Hats, Scraves & Gloves</a><span class="count-item">(12)</span></li>
                    <li><a href="#">Underwear & Socks</a><span class="count-item">(48)</span></li>
                    <li><a href="#">Grooming</a><span class="count-item">(6)</span></li>
                    <li><a href="#">Belts</a><span class="count-item">(18)</span></li>
                </ul>
            </div>
            <!-- ./Product category -->
            <!-- Filter price -->
            <div class="widget widget_price_filter">
                <h2 class="widget-title">PRICES</h2>
                <div class="price_slider_wrapper">
                    <div class="amount-range-price">Price: $85.00 - $125.00</div>
                    <div data-label-reasult="price:" data-min="0" data-max="500" data-unit="$" class="slider-range-price " data-value-min="50" data-value-max="350"></div>
                    <button class="button">Filter NOW</button>
                </div>
            </div>
            <!-- ./Filter price -->
            <!-- By color -->
            <div class="widget widget_fillter_color">
                <h2 class="widget-title">COLOUR</h2>
                <div class="inner">
                    <a href="#"><span style="background-color:#736357;"></span></a>
                    <a class="active" href="#"><span style="background-color:#bdb871;"></span></a>
                    <a href="#"><span style="background-color:#f26522;"></span></a>
                    <a href="#"><span style="background-color:#fff799;"></span></a>
                </div>
            </div>
            <!-- ./By color -->
            <!-- By color -->
            <div class="widget widget_fillter_size">
                <h2 class="widget-title">SIZE Option</h2>
                <div class="inner">
                    <a href="#"><span>S</span></a>
                    <a class="active" href="#"><span>M</span></a>
                    <a href="#"><span>L</span></a>
                    <a href="#"><span>XL</span></a>
                    <a href="#"><span>XXL</span></a>
                </div>
            </div>
            <!-- ./By color -->
            <div class="widget widget_recent_product">
                <h2 class="widget-title">recent products</h2>
                <ul class="product-categories">
                    <li>
                        <div class="product-thumb">
                            <a href="#"><img alt="" src="../../../assets/products/recent1.png"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name"><a href="#">London Star Sweat-shirt</a></h3>
                            <span class="price">
                              <ins>£85.00</ins>
                              <del>£155.00</del>
                          </span>
                        </div>
                    </li>
                    <li>
                        <div class="product-thumb">
                            <a href="#"><img alt="" src="../../../assets/products/recent2.png"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name"><a href="#">London StarSweat-shirt</a></h3>
                            <span class="price">
                              <ins>£85.00</ins>
                              <del>£155.00</del>
                          </span>
                        </div>
                    </li>
                    <li>
                        <div class="product-thumb">
                            <a href="#"><img alt="" src="../../../assets/products/recent3.png"></a>
                        </div>
                        <div class="product-info">
                            <h3 class="product-name"><a href="#">London Star - Sweatshirt</a></h3>
                            <span class="price">
                              <ins>£85.00</ins>
                              <del>£155.00</del>
                          </span>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Product tags -->
            <div class="widget widget_product_tag_cloud style2">
                <h2 class="widget-title">TAGS</h2>
                <div class="tagcloud">
                    <a href="#">Handbag</a>
                    <a href="#">Leather</a>
                    <a href="#">Vintage</a>
                    <a href="#">Women</a>
                    <a href="#">Sexy Dress</a>
                    <a href="#">Shoping</a>
                </div>
            </div>
            <!-- ./Product tags -->
        </div>
    </div>
</div>
<!-- ./tab -->
<div class="margin-top-60 margin-bottom-30">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-origami28"></i></div>
                    <div class="content">
                        <h4 class="title">FREE SHIPPING WORLD WIDE</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-curvearrows9"></i></div>
                    <div class="content">
                        <h4 class="title">MONEY BACK GUARANTEE</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="element-icon style2">
                    <div class="icon"><i class="flaticon flaticon-headphones54"></i></div>
                    <div class="content">
                        <h4 class="title">ONLINE SUPPORT 24/7</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
